:root{
    --navBarColor: grey;
    --activeLinkColor: lightgrey;
    --linkBorderColor: lightgrey;
    --boxGrey: lightgrey;
    /* --fakeGreen:;
    --fakeBlue:;
    --fakeRed:; */
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

*{
    font-family: 'OpenSans';
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    background-color: var(--navBarColor);
    padding: 0.8rem 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav>a {
    border-radius: 2px;
    margin-right: 1.4rem;
    padding: 10px 20px;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: ease;
    border-color: lightblue;
    border: solid 1px var(--linkBorderColor);
}

a.active {
    background-color: var(--activeLinkColor);
}

.heroRow{
    background-image: url("images/img11.jpg");
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;
    background-position-y: -28vh;
    background-position-x: 0%;
    display: flex;
    flex-flow: column;
    height: 62vh;
    width: 100%;
}

.threePartRow{
    padding: 5%;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    padding-bottom: 2vh;
    padding-top: 4vh;
}

.threePartRow .card{
    display: flex;
    position: relative;
    flex-flow: column;
    width: 28%;
    height: 48vh;
    margin: 0 1%;
    background-color: var(--boxGrey);
}

.twoPartRow{
    padding: 5%;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    padding-top: 2vh;
}

.twoPartRow .card{
    display: flex;
    position: relative;
    flex-flow: column;
    width: 43%;
    height: 48vh;
    margin: 0 1%;
    background-color: var(--boxGrey);
}

.card-Image{
    margin-bottom: 1vh;
    width: 100%;
    height: 18vh;
}

.card p, .card h3, .card a{
    margin: 10px 20px;
}

.card-Button{
    align-self: center;
    color: white;
    padding: 13px 10%;
    border-radius: 5px;
    position: absolute;
    margin-top: auto;
    bottom: 2vh;
    font-size: 1.2rem;
}

.threePartRow .card:nth-child(1) .card-Button{
    background-color: green;
}

.threePartRow .card:nth-child(1) h3{
    color: green;
}

.threePartRow .card:nth-child(2) .card-Button{
    background-color: blue;
}

.threePartRow .card:nth-child(2) h3{
    color: blue;
}

.card:nth-child(3) .card-Button{
    background-color: red;
}

.card:nth-child(3) h3{
    color: red;
}

.twoPartRow .card h3{
    align-self: center;
}